body{
margin:0;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:#DDF4FF;
}

#gameCanvas{
border:5px solid black;

/* laptop */
width:min(100vw, 1600px);
height:min(100vh, 900px);

display:block;
}

/* phone */
@media (max-width:768px){

#gameCanvas{

width:100vw;
height:100vh;

}

}

#themeBtn{

position:absolute;

top:20px;

right:20px;

z-index:100;

padding:8px 14px;

border:none;

border-radius:12px;

font-family:Righteous;

font-size:16px;

background:white;

cursor:pointer;

box-shadow:
0 6px 12px rgba(0,0,0,.2);

}

#themeMenu{

display:none;

position:absolute;

top:70px;

right:20px;
left:auto;

background:white;

border-radius:14px;

overflow:hidden;

z-index:101;

font-family:Righteous;

box-shadow:
0 8px 20px rgba(0,0,0,.2);

}

#themeMenu div{

padding:14px;

cursor:pointer;

}

#themeMenu div:hover{

background:#EEE;

}
