body{
margin:0;
overflow:hidden;
background:#DDF4FF;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* GAME */

#gameCanvas{

display:block;

border:5px solid black;

/* laptop */

width:min(100vw,1600px);

height:min(100vh,900px);

}

/* PHONE */

@media (max-width:768px){

body{

align-items:flex-start;

}

#gameCanvas{

width:100vw;

height:100dvh;

border:none;

}

}
